.blog{
    border: 1px solid rgb(50, 1, 1);
    border-radius: 20px;
    margin: 2px;
    padding: 5px 5px;
    background-color: rgb(22, 1, 1);
    color: rgb(209, 199, 187);
    text-align: center;
    width: 30%;
    display: inline-block;
    
}
p{
    text-align: justify;
    display: inline-block;
}
#o1{
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(49, 1, 1);
    display: inline-block;
    border: 2px dotted black;
    border-radius: 20px;
    padding: 20px;
    outline: 1px solid rgb(54, 2, 2);
  outline-offset: 10px;
  margin: 50px;


}